.banner {
  /* height: 240px; */
  padding: 220px 0 80px;
  background-size: cover;
  color: white;
  text-shadow: 1px 1px 8px rgba(0,0,0,0.6);;
  background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(https://source.unsplash.com/random/1200x900);
  background-size: cover;
}

.banner p {
  color: white;
}

@media only screen and (max-width: 800px) {
  .banner {
    padding: 120px 0 80px;
  }
}
