.footer {
  margin-top: 4rem;
  font-size: 0.8rem;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: transform 400ms;
  cursor: zoom-in;
  background-color:wheat;
}

.footer p{
  transition: transform 200ms;
}

.footer:hover p {
  transform: scale(1.02);
}
