.footer {
  margin-top: 4rem;
  font-size: 0.8rem;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: zoom-in;
  background-color:wheat;
}

.footer:hover p {
  text-transform: uppercase;
  font-weight: 500;
}
